In [1]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [2]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

print(tuple1[1][1])

20

In [5]:
tuple1 = (10, 20, 30, 40)

a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [6]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [7]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]

print(tuple2)

(44, 55)

In [8]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0] = 222

print(tuple1)

(11, [222, 33], 44, 55)

In [9]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))

tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))

print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [10]:
tuple1 = (50, 10, 60, 70, 50)

print(tuple1.count(50))

2

In [11]:
def check(t):
    return all(i == t[0] for i in t)

tuple1 = (45, 45, 45, 45)

print(check(tuple1))

True