In [3]:
num1 = 20
num2 = 30

num1 * num2

600

In [17]:
current_sum = 0
previous_number = 0

for i in range(11):
    current_sum += i
    print("Current Number:", i, "Previous Number:", previous_number, "Cumulative Sum:", current_sum)
    previous_number = i

Current Number: 0 Previous Number: 0 Cumulative Sum: 0
Current Number: 1 Previous Number: 0 Cumulative Sum: 1
Current Number: 2 Previous Number: 1 Cumulative Sum: 3
Current Number: 3 Previous Number: 2 Cumulative Sum: 6
Current Number: 4 Previous Number: 3 Cumulative Sum: 10
Current Number: 5 Previous Number: 4 Cumulative Sum: 15
Current Number: 6 Previous Number: 5 Cumulative Sum: 21
Current Number: 7 Previous Number: 6 Cumulative Sum: 28
Current Number: 8 Previous Number: 7 Cumulative Sum: 36
Current Number: 9 Previous Number: 8 Cumulative Sum: 45
Current Number: 10 Previous Number: 9 Cumulative Sum: 55

In [23]:
str = "pynative"

for i in range(len(str)):
    if i % 2 == 0:
        print(str[i])

p
n
t
v

In [25]:
def remove_chars(string, number):
    print(string[number:])
    
remove_chars("pynative", 4)
remove_chars("pynative", 2)

tive
native

In [27]:
def first_last_same(list1):
    return list1[0] == list1[-1]

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

print(first_last_same(numbers_x))
print(first_last_same(numbers_y))

True
False

In [34]:
def divisible_by_5(list1):
    print("Numbers from list divisible by 5:")
    for i in list1:
        if i % 5 == 0:
            print(i)

list1 = [10, 20, 33, 46, 55]
divisible_by_5(list1)

Numbers from list divisible by 5:
10
20
55

In [36]:
str_x = "Emma is good developer. Emma is a writer"

print(str_x.count("Emma"))

2

In [49]:
for num in range(6):
    for i in range(num):
        print (num, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [50]:
def palindrome(number):
    print("original number", number)
    original_num = number
    
    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(121)
palindrome(125)

original number 121
Given number palindrome
original number 125
Given number is not palindrome

In [63]:
result = []

def merge_odds1_evens2(list1, list2):
    for num in list1:
        if num % 2 != 0:
            result.append(num)
    for num in list2:
        if num % 2 == 0:
            result.append(num)
    return result
    
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

print(merge_odds1_evens2(list1, list2))

[25, 35, 40, 60, 90]

In [57]:
33 % 2

1

In [78]:
income = 10001
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 10001
Total tax to pay is 0.1

In [87]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [89]:
def exponent(base, exp):
    print(base ** exp)
    
base = 5
exp = 4

exponent(5,4)

625