In [1]:
set1 = {"Yellow", "Orange", "Black"}
list1 = ["Blue", "Green", "Red"]

set1.update(list1)
print(set1)

{'Orange', 'Red', 'Black', 'Green', 'Yellow', 'Blue'}

In [5]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))
print(set2.intersection(set1))

{40, 50, 30}
{40, 50, 30}

In [6]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [7]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.difference_update(set2)
print(set1)

{20, 10}

In [8]:
set1 = {10, 20, 30, 40, 50}

set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [18]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if not set1.isdisjoint(set2):
    print(set1.intersection(set2))

{10}

In [19]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [20]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}