In [4]:
list1 = [100, 200, 300, 400, 500]

list1[::-1]

[500, 400, 300, 200, 100]

In [6]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

print([i + j for i, j in zip(list1, list2)])

['My', 'name', 'is', 'Kelly']

In [7]:
numbers = [1, 2, 3, 4, 5, 6, 7]

for i in numbers:
    print(i * i)

1
4
9
16
25
36
49

In [14]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

print([x + y for y in list2 for x in list1])

['Hello Dear', 'take Dear', 'Hello Sir', 'take Sir']

In [15]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [16]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

# remove None from list1 and convert result into list
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [17]:
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]